[submodule "playground/foundry/hello_foundry/lib/forge-std"]
	path = playground/foundry/hello_foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "playground/foundry/hello_foundry/lib/solmate"]
	path = playground/foundry/hello_foundry/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "SmartContract/Ramen/lib/forge-std"]
	path = SmartContract/Ramen/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "playground/sol-scripting/solidity-scripting/lib/forge-std"]
	path = playground/sol-scripting/solidity-scripting/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "playground/sol-scripting/solidity-scripting/lib/solmate"]
	path = playground/sol-scripting/solidity-scripting/lib/solmate
	url = https://github.com/transmissions11/solmate
